# IDE
.idea/
*.iml
.vscode/

# Git
.git/
.gitignore

# Data
ice-data/

# Logs
*.log
logs/

# Temp
*.tmp
*.bak

# Build artifacts
sdks/java/ice-common/target/
sdks/java/ice-core/target/
tests/java/ice-test/target/
