<configuration>
  <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p (%file:%line\)- %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>./logs/ice-test.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>ice-test.log.%d.%i</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 128 MB -->
        <maxFileSize>128 MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>
        %d %p (%file:%line\)- %m%n
      </pattern>
      <charset>UTF-8</charset> <!-- 此处设置字符集 -->
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>