<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <springProfile name="dev">
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
      <!--展示格式 layout-->
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>
          <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </pattern>
      </layout>
      <!--
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
           <level>ERROR</level>
      </filter>
       -->
    </appender>
    <root level="INFO">
      <!--appender将会添加到这个loger-->
      <appender-ref ref="consoleLog"/>
    </root>
  </springProfile>

  <springProfile name="test">
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <File>./logs/ice-server.log</File>
      <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间-->
        <FileNamePattern>./logs/ice-server.%d{yyyy-MM-dd}.log</FileNamePattern>
        <!--只保留最近15天的日志-->
        <maxHistory>15</maxHistory>
        <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
        <!--<totalSizeCap>1GB</totalSizeCap>-->
      </rollingPolicy>
      <!--日志输出编码格式化-->
      <encoder>
        <charset>UTF-8</charset>
        <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <!--appender将会添加到这个loger-->
      <appender-ref ref="fileInfoLog"/>
    </root>

  </springProfile>

  <springProfile name="product">
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <File>./log/ice-server.log</File>
      <!--滚动策略，按照时间滚动 TimeBasedRollingPolicy-->
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间-->
        <FileNamePattern>./log/ice-server.%d{yyyy-MM-dd}.log</FileNamePattern>
        <!--只保留最近30天的日志-->
        <maxHistory>30</maxHistory>
        <!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志-->
        <!--<totalSizeCap>1GB</totalSizeCap>-->
      </rollingPolicy>
      <!--日志输出编码格式化-->
      <encoder>
        <charset>UTF-8</charset>
        <pattern>%d [%thread] %-5level %logger{36} %line - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <!--appender将会添加到这个loger-->
      <appender-ref ref="fileInfoLog"/>
    </root>

  </springProfile>
</configuration>