server:
  compression:
    enabled: true
    mime-types: application/javascript
spring:
  profiles:
    active: dev
  web:
    resources:
      static-locations: classpath:static/
  jackson:
    default-property-inclusion: non_null
